body{
	font-family: 'Indie Flower', cursive;
}

h1{
	text-align: center;
}

#logo{
	text-align: center;
}



#dog-head {
    height:150px;
    width:150px;
    border-style: solid;
	margin-left: 70px;
	border-radius:50%;
}

#question-wrap {
	width: 400px;
	height: 200px;
	border-style: solid;
	position: relative;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	border-radius:         10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top:20px;
	padding-bottom: 20px;
	margin-left: 400px;
	font-size: 20px;
	margin-top: -80px

}



#submit{
	width:100px;
	margin-top: 10px;
	margin-left: 110px;
	box-shadow: 8px 8px 3px #888888

}

#righ-answer{
	float: left;
	margin-left: 450px;
	margin-top: 40px;
	font-size: 20px;

}

#wrong-answer{
	float:right;
	margin-right: 400px;
	margin-top: 40px;
	font-size: 20px;
	
}

#happy{
	height:80px;
    border-style: solid;
	border-radius:50%;	
}

#sad{
	height:80px;
    border-style: solid;
	border-radius:50%;

}

#score-holder{

}